{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar" 
      style="background:url(https://source.unsplash.com/collection/3617729/400x400) no-repeat center center/ cover"></section>
    <section class="details">

    <h3>Details</h3>

    <div class="item">
      <div>Instructor</div>
      <div>Mike Doe</div>
    </div>

    <div class="item">
      <div>Age</div>
      <div>28</div>
    </div>

     <div class="item">
      <div>Male</div>
      <div>Men</div>
    </div>

     <div class="item">
      <div>Accompany</div>
      <div>
      <span>Body builder</span>
      <span>Crossfit</span>
      </div>
    </div>

     <div class="item">
      <div>Registration date</div>
      <div>02/27/18</div>
    </div>

    </section>
  </div>
{% endblock content %}